*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big) {
    font-size: 87.5%;
  }

  @include respond(pc) {
    font-size: 68.75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 43.75%;
  }
}

body {
  padding: 1rem;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  @include respond(tab-port) {
    padding: 0;
  }
}

main {
  margin-top: -11rem;
}

section {
  padding: 6rem 0;
}

h1 {
  font-size: 7rem;
  font-family: "Cedarville cursive", cursive;
  color: currentColor;
  font-weight: 400;

  @include respond(phone) {
    font-size: 7rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h2 {
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h4 {
  font-size: 2rem;
  color: currentColor;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-weight: 300;

  @include respond(phone) {
    font-size: 3rem;
  }
}
